* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background: ;
    text-align: center;
  }
  .wrapper {
    position: absolute;
    top: 200px;
    left: 450px;
    background: #fff;
    max-width: 600px;
    border-radius: 15px;
    text-align: center;
    padding: 25px 25px 30px 25px;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.15);
  }
  .wrapper.hide {
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    transition: all 0.3s ease;
  }
  ::selection {
    color: #fff;
    background: #fcba7f;
  }
  .wrapper img {
    max-width: 100px;
  }
  .wrapper .content {
    margin-top: 50px;
  }
  .wrapper header {
    font-size: 25px;
    font-weight: 600;
  }
  .content {
    margin-top: 10px;
  }
  .content p {
    color: ;
    margin: 5px 0 20px 0;
  }
  .content .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .buttons .item {
    margin: 0 10px;
  }
  .buttons button {
    padding: 10px 20px;
    background: #fcba7f;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
  }
  .buttons button:hover {
    transform: scale(0.97);
  }
  .buttons a {
    color: #fcba7f;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background: lightblue;
    text-align: center;
  }
  .wrapper {
    position: absolute;
    top: 100px;
    left: 450px;
    background: #fff;
   width: 365px;
    border-radius: 15px;
    text-align: center;
    padding: 25px 25px 30px 25px;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.15);
  }
  .wrapper.hide {
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    transition: all 0.3s ease;
  }
  ::selection {
    color: #fff;
    background: #fcba7f;
  }
  