



body{

    border-image-source: ;
    margin:0;
    background-color: var(--background);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

 
}




*{
  margin:0; padding:0;
  color:#f2f5f7;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
}

body{
  overflow: ;

}

nav{
  height: 6rem;
  width: 100vw;
  display: flex;
  position: fixed;
  z-index: 10;
  background-color: #FFA135;
  box-shadow: 0 3px 20px rgba(0,0,0,0.2);
  font-size: 10px;
}

/* Styling Logo*/

.logo{
  padding: 5vh 1vw;
  text-align: center;
  
  width: 20vw;
}

.logo img{
  height: auto;
  width: auto;
}

/* Styling Navigation Links*/

.nav-links{
  width: 80vw;
  display: flex;
  padding: 1vw;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  list-style: none;
  font-weight: 500;
}

.nav-links li a{
  margin: 0 0.7vw;
  text-decoration: none;
  transition: all ease-in-out 350ms;
  padding: 10px;
}



.nav-links li{
  position:relative;
}

.nav-links li a:hover::before{
  width: 80%;
}


/*Buttons Styling*/

.login-button{
  padding: 0.6rem 0.8rem;
  margin-left: 2vw;
  font-size:10px;
  cursor:pointer;
  background-color: #00B1B6;
  border:1.5px solid #f2f5f7;
  border-radius: 2em;
  color: #00B1B6;
  
}



/*Navigation Icon Styling*/

.hamburger div{
  width: 30px;
  height: 3px;
  background: #f2f5f7;
  margin: 5px;
  transition: all 0.3s ease;
  font-size: 10px;
}

.hamburger{
  display: none;
}


/*Responsive Adding Media Queries*/

@media screen and (max-width: 800px){
  nav{
      position: fixed;
      z-index: 3;
  }
  .hamburger{
      display:block;
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 2;
      transition: all 0.7s ease;
      font-size: 10px;
  }
  .nav-links{
      background: #FFA135;
      position: fixed;
      opacity: 1;
      height: 100vh;
      max-width: 100%;
      flex-direction: column;
      clip-path: circle(50px at 90% -20%);
      -webkit-clip-path: circle(50px at 90% -10%);
      transition: all 1s ease-out;
      pointer-events: none;
  }
  .nav-links.open{
      clip-path: circle(1000px at 90% -10%);
      -webkit-clip-path: circle(1000px at 90% -10%);
      pointer-events: all;
  }
  .nav-links li{
      opacity: 0;
  }
  .nav-links li:nth-child(1){
      transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2){
      transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3){
      transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4){
      transition: all 0.5s ease 0.7s;
  }
  .nav-links li:nth-child(5){
      transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(6){
      transition: all 0.5s ease 0.9s;
      margin: 0;
  }
  .nav-links li:nth-child(7){
      transition: all 0.5s ease 1s;
      margin: 0;
  }

  li.fade{
      opacity: 1;
  }

  /* Navigation Bar Icon on Click*/

      .toggle .bars1{
          transform: rotate(-45deg) translate(-5px, 6px);
      }

      .toggle .bars2{
          transition: all 0s ease;
          width: 0;
      }

      .toggle .bars3{
          transform: rotate(45deg) translate(-5px, -6px);
      }

}


.top-section {
text-align: center;
font-size: 10px ;
color: #ffffff;


}
p{
font-size: 15px;
}



<br>


.top-section img{
width:00px;

}



    
}



}
li{
    margin: 7px 0;
}


a{

}

}


    

.top-section {
   
    text-align: center;
    font-size: 10px ;
   
    
    
    
}
p{
    font-size: 10px;
}


.top-section-text{
   
    text-align: center;
    font-size: 10px ;
    color: #000000;
    
    
    
}
<br>




/* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8;
    cursor: pointer;
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container (positioning is needed to position the close button and the text) */
  .container {
    position: relative;
    display: none;
  }
  
  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 10px;
  }
  

 


* {

}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}


}





/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
 
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/*Logo*/
.topnav-container .topnav-logo {
  position: absolute;
  width: 30vw;
  height: 50px;
  top: 15%;
  left: ;
}



/*Navbar-knapper enkeltvis*/



}



/*Baggrund*/
.topnav-container .topnav-background{
width: 100%;
height: 70px;
}  


}



}


.topnav a:link{
  text-decoration: none;
  color: #000000;
}

.topnav a:visited{
  color: #ffffff;
  text-decoration: none;
}

 
}

/*Kilde: https://www.w3schools.com/howto/howto_js_top
_responsive.asp*/
/* Hide the link that should open and close the topnav on small screens */
.topnav a.icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1000px) {
    .topnav-button1, .topnav-button2, .topnav-button3, .topnav-button4, .topnav-button5 {
    display: none;
    
  }
  .topnav a.icon {
    display: block;
  }
  }

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 1000px) {
    .topnav.responsive {
    position: absolute;
    display: flex;
    flex-direction: column;
   
    border-radius: 20px;
   
  }
  .topnav.responsive a.icon {
    position: absolute;
    top: 0%;
    right: 0%;
  }
  .topnav.responsive .topnav-button1 {
    display: block;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
    color: black;
  
  }
  .topnav.responsive .topnav-button2 {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
  .topnav.responsive .topnav-button3 {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    color: black;
  }
  .topnav.responsive .topnav-button4 {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
  .topnav.responsive .topnav-button5 {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    color: black;
  }
}






footer{
  position: bottom;
  bottom: 0;
  left: 0;
  right: 0;
  background: #FFA135;
  height: auto;
  max-width: 100%;
  padding-top: 20px;
  color: #fff;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  size: 10px;
}


}


body {
 




    
   }
   